@import "../../public-variables";

.notifications {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  right: 0;
  background-color: $secondary_background_color;
  border: 0.10vw $border_color solid;

  & .notifications__notification {
    display: flex;
    flex-direction: column;

    & .notifications__notification__header, .notifications__notification__text {
      margin: 0;
    }
  }
}