@import "create-comment-form-media";

@import "../../../public-variables";

.create-comment-form {
  display: flex;
  align-items: center;
  width: 97%;
  background-color: $third_background_color;
  border: 0.10vw $border_color solid;
  border-radius: 0.52vw;

  & .create-comment-form__input {
    height: 57.14%;
    flex-grow: 1;
    outline: none;
    border: none;
    background-color: inherit;
    font-family: 'TTNormsPro SemiBold', 'sans-serif';
  }

  & .create-comment-form__button {
    height: 57.14%;
    cursor: pointer;

    & img {
      width: auto;
      height: 100%;
    }
  }

  & > * {
    margin-left: 1.33%;
  }

  & > *:last-child {
    margin: 0 1.33% 0 1.33%;
  }
}