@import "../../../../public-variables";
@import "../../../UI/TreeView/tree-view";
@import "../../../UI/NumberedTextView/numbered-text-view";
@import "room-teaching-unverified-solution-media";

.unverified-solution {
  display: flex;
  align-items: start;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1.3%;
  background-color: $tint_color;

  & .unverified-solution__sidebar {
    width: 14%;
    height: 94%;
    padding: 0 1%;
    overflow: auto;
    font-family: "TTNormsPro", "sans-serif";
    background-color: $third_background_color;
    border: 0.10vw $border_color solid;
    border-right: none;
    border-radius: 0.52vw 0 0 0.52vw;

    & .tree-view {
      & .tree-view__item {
        height: auto;

        & .pop-up-view_opened {
          display: flex;
          flex-direction: column;
          align-items: start;
        }

        & .pop-up-view_closed {
          display: none;
        }
      }
    }
  }

  & .unverified-solution__sidebar::-webkit-scrollbar {
    width: 0.45vw;
    height: 0.45vw;
  }

  & .unverified-solution__sidebar::-webkit-scrollbar-track {
    background-color: $third_background_color;
  }

  & .unverified-solution__sidebar::-webkit-scrollbar-thumb {
    background-color: $border_color;
    border-radius: 0.3vw;
  }

  & .unverified-solution__body {
    display: flex;
    align-items: start;
    width: 60%;
    height: 94%;
    overflow: auto;
    font-family: "TTNormsPro", "sans-serif";
    background-color: $third_background_color;
    border: 0.10vw $border_color solid;

    & .numbered-text-view {
      width: 94%;
      height: 100%;

      & .numbered-text-view__line {
        & .numbered-text-view__line__number {
          min-width: 4vw;
          background-color: $numbered_view_numbers_background_color;
          text-align: center;
          border-right: 0.10vw $border_color solid;
        }

        & .numbered-text-view__line__text {
          padding-left: 1%;
          white-space: nowrap;
        }
      }

      & .numbered-text-view__line:hover {
        & .numbered-text-view__line__number {
          background-color: $secondary_color;
        }
      }
    }

    & .numbered-text-view::-webkit-scrollbar {
      width: 0.6vw;
      height: 0.6vw;
    }

    & .numbered-text-view::-webkit-scrollbar-track {
      background-color: $third_background_color;
    }

    & .numbered-text-view::-webkit-scrollbar-thumb {
      background-color: $border_color;
      border-radius: 0.3vw;
    }

    & .cancel-button {
      width: 4%;
      height: 3vw;
      margin: 0 auto 0 auto;

      & .cancel-button__first-line, .cancel-button__second-line {
        background-color: $primary_color;
      }
    }
  }

  & .unverified-solution__solution-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.2%;
    height: 94%;
    font-family: "TTNormsPro", "sans-serif";
    background-color: $third_background_color;
    border: 0.10vw $border_color solid;
    border-left: none;
    border-radius: 0 0.52vw 0.52vw 0;
    word-break: break-word;

    & .infinite-scroll {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 100%;
      max-height: 65%;
      border-bottom: 0.1vw $border_color solid;
      overflow: auto;

      & > * {
        margin-top: 3vh;
      }

      & > *:first-child {
        margin-top: 1.5vh;
      }

      & > *:last-child {
        margin-bottom: 1.5vh;
      }

      & .message {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    & .infinite-scroll::-webkit-scrollbar {
      width: 0.6vw;
    }

    & .infinite-scroll::-webkit-scrollbar-track {
      background-color: $third_background_color;
    }

    & .infinite-scroll::-webkit-scrollbar-thumb {
      background-color: $border_color;
      border-radius: 0.3vw;
    }

    & > .unverified-solution__solution-controls__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      padding: 1vh 0;
      margin-top: 1.5vh;
      outline: none;
      border: $primary_color 0.2vw solid;
      border-radius: 0.5vw;
      background-color: $inputs_background_color;
      color: $primary_color;
      transition: color 200ms ease-out, background-color 200ms ease-out;
      font-family: 'TTNormsPro SemiBold', 'sans-serif';
    }

    & > .unverified-solution__solution-controls__button:hover {
      background-color: $primary_color;
      color: $secondary_color;
      cursor: pointer;
    }

    & > .unverified-solution__solution-controls__wrapper {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-top: 1.5vh;

      & > .unverified-solution__solution-controls__wrapper__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48.5%;
        height: 4.5vh;
        outline: none;
        border: $primary_color 0.2vw solid;
        border-radius: 0.5vw;
        background-color: $inputs_background_color;
        color: $primary_color;
        transition: color 200ms ease-out, background-color 200ms ease-out;
        font-family: 'TTNormsPro SemiBold', 'sans-serif';
      }

      & > .unverified-solution__solution-controls__wrapper__button:hover {
        background-color: $primary_color;
        color: $secondary_color;
        cursor: pointer;
      }
    }
  }
}