@import "room-last-task-media";
@import "../../../public-variables";

.room-last-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  transition: color 200ms ease-out;

  & .room-last-task__name {
    font-family: "TTNormsPro SemiBold", "sans-serif";
  }

  & .room-last-task__description {
    font-family: "TTNormsPro", "sans-serif";
  }

  & .room-last-task__name, .room-last-task__description {
    margin: 0;
  }
}

.room-last-task:hover {
  cursor: pointer;
  color: $secondary_color;
}