@import "../../../public-variables";

.room-last-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 4.28%;

  & .room-last-task__name {
    font-family: "TTNormsPro SemiBold", "sans-serif";
    font-size: 16px;
  }

  & .room-last-task__description {
    font-family: "TTNormsPro", "sans-serif";
    font-size: 18px;
  }

  & .room-last-task__name, .room-last-task__description {
    margin: 0;
  }
}