@import "../../../UI/ContextMenuButton/context-menu-button";
@import "room-task-label-media";

.room-task-label {
  display: flex;
  align-items: center;
  padding: 0.4% 1.2%;

  & .room-task-label__icon {
    width: auto;
    height: 66.6%;
  }

  & .room-task-label__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 1.25%;

    & > * {
      margin: 0
    }

    & .room-task-label__body__header {
      font-family: "TTNormsPro SemiBold", "sans-serif";
    }

    & .room-task-label__body__date {
      font-family: "TTNormsPro", "sans-serif";
    }
  }

  & .context-menu-button {
    width: 1.3%;
  }
}