@import "../../public-variables";
@import "RoomMain/room-main";
@import "RoomTasks/room-tasks";
@import "RoomMembers/room-members";
@import "RoomDescription/room-description";
@import "RoomTeaching/room-teaching";
@import "room-media";

.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  & .room__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $third_background_color;
    background-repeat: repeat;

    & .room__header__name {
      margin: 0;
      color: rgb(var(--headerColor));
      font-family: "TTNormsPro", sans-serif;
      font-weight: bold;
    }

    & .room__header__owner {
      display: flex;
      align-items: center;
      justify-content: center;

      & .room__header__owner__article {
        margin: 0;
        color: rgb(var(--headerColor));
        font-family: "TTNormsPro", sans-serif;
        font-weight: bold;
      }

      & .room__header__owner__name {
        margin: 0 0 0 0.5em;
        color: rgb(var(--headerColor));
        font-family: "TTNormsPro SemiBold", sans-serif;
      }
    }
  }

  & .room__content {
    & .room__content__header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 9.54%;
    }

    & .room__content__body {
      display: flex;
      justify-content: center;
      align-items: start;
      width: 100%;
      height: 90.46%;

      & > div {
        width: 100%;
        height: 100%;
      }

      & .room__content__body__description {
        width: 70%;
        height: auto;
        overflow-y: auto;
      }
    }
  }
}

.content-header {
  & .content-header__link {
    position: relative;
    margin: 0 0 0 1.56%;
    color: rgb(var(--color));
    text-decoration: none;
    font-family: "TTNormsPro SemiBold", "sans-serif";
  }

  & .content-header__link.active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.4vh;
    left: 0;
    bottom: 0;
    background-color: rgb(var(--color));
  }
}