@import "RoomTaskVariantsForm/room-task-variants-form";
@import "room-task-teacher-controls-media";

.room-task__controls__teacher-control__statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & .room-task__controls__teacher-control__statistic__item {
    display: flex;
    margin-top: 1.3vh;
    width: 70%;
    word-break: break-word;

    & .room-task__controls__teacher-control__statistic__item__paragraph {
      width: 60%;
      margin: 0;
      font-family: "TTNormsPro", "sans-serif";
    }

    & .room-task__controls__teacher-control__statistic__item__paragraph:last-child {
      width: 40%;
      text-align: center;
    }
  }
}