@import "../../public-variables";
@import "../NearTask/near-task";

.room-label {
  display: flex;
  flex-direction: column;
  border: $border_color 0.2vw solid;
  background-color: $third_background_color;
  cursor: pointer;

  & .room-label__header {
    display: flex;
    align-items: center;
    padding: 0 8.62%;

    & .room-label__header__name {
      margin: 0;
      color: $primary_color;
      font-family: "TTNormsPro SemiBold", "sans-serif";
    }
  }

  & .room-label__meta {
    display: flex;
    align-items: center;
    padding: 0 8.62%;
    border-bottom: $border_color 0.2vw solid;

    & .room-label__meta__audience {
      margin: 0;
      color: $primary_color;
      font-family: "TTNormsPro", "sans-serif";
    }
  }

  & .room-label__nearest-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 8.62%;
    flex-shrink: 1;
  }
}