@import "../../../public-variables";
@import "RoomTaskControlsSolution/RoomTaskControlsSolutionOutput/room-task-controls-solution-output";

.room-task__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $third_background_color;
  border: 0.10vw $border_color solid;
  border-radius: 0.52vw;

  & .room-task__controls__solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & .room-task__controls__solution__header {
      display: flex;
      justify-content: center;
      width: 92%;
      padding: 2.16% 4.32%;

      & .room-task__controls__solution__header__title {
        margin: 0;
        font-family: "TTNormsPro SemiBold", "sans-serif";
        font-size: 22px;
        white-space: nowrap;
      }
    }

    & .room-task__controls__solution__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > input {
        display: none;
      }

      & .room-task__controls__solution__content__output {
        width: 95%;
        max-height: 32vh;
        overflow-y: auto;
        border: 0.10vw $border_color solid;
        border-radius: 0.52vw;
      }

      & .room-task__controls__solution__content__output::-webkit-scrollbar {
        width: 0.6vw;
      }

      & .room-task__controls__solution__content__output::-webkit-scrollbar-track {
        background-color: $third_background_color;
      }

      & .room-task__controls__solution__content__output::-webkit-scrollbar-thumb {
        background-color: $border_color;
        border-radius: 0.3vw;
      }
    }

    & .room-task__controls__solution__submit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.7vh;
      margin: 1.38vh 0;
      padding: 4%;
      outline: none;
      border: $primary_color 0.2vw solid;
      border-radius: 0.5vw;
      background-color: $inputs_background_color;
      color: $primary_color;
      transition: color 200ms ease-out, background-color 200ms ease-out;
      font-size: 20px;
      font-family: 'TTNormsPro SemiBold', 'sans-serif';
      white-space: nowrap;
    }

    & .room-task__controls__solution__submit-button:hover {
      background-color: $primary_color;
      color: $secondary_color;
      cursor: pointer;
    }
  }


}