@import "../../../../../public-variables";

.solution-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0;

  & .solution-output__output {
    width: 85%;
    border: 0.10vw $border_color solid;
    border-radius: 0.52vw;
    padding: 3%;

    & > * {
      margin: 0;
      font-family: "TTNormsPro", "sans-serif";
      font-size: 16px;
    }
  }

  & .solution-output__error-output {
    border-width: 0.15vw;
    border-color: $error_color;
  }
}