@media (max-width: 425px) {
  .room-task-variants-form {
    & .room-task-variants-form__sidebar {
      top: 15%;
      left: 10%;
      width: 20%;
      font-size: 10px;
    }

    & .room-task-variants-form__body {
      right: 10%;
      top: 15%;
      width: 60%;
      font-size: 10px;

      & .room-task-variants-form__body__variant {
        font-size: 10px;

        & .room-task-variants-form__body__variant__name {
          font-size: 10px;
        }

        & .room-task-variants-form__body__variant__input {
          & .room-task-variants-form__body__variant__input__input {
            font-size: 10px;
          }
        }

        & .room-task-variants-form__body__variant__values {
          & .room-task-variants-form__body__variant__values__body {
            & .body-variant-table-input {
              & .body-variant-table-input__body {
                & .body-variant-table-input__body__content {
                  & .body-variant-table-input__body__content__item {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }

        & .room-task-variants-form__body__variant__controls {
          & .room-task-variants-form__body__variant__controls__button {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .room-task-variants-form {
    & .room-task-variants-form__sidebar {
      top: 15%;
      left: 10%;
      width: 20%;
      font-size: 12px;
    }

    & .room-task-variants-form__body {
      right: 10%;
      top: 15%;
      width: 60%;
      font-size: 12px;

      & .room-task-variants-form__body__variant {
        font-size: 12px;

        & .room-task-variants-form__body__variant__name {
          font-size: 12px;
        }

        & .room-task-variants-form__body__variant__input {
          & .room-task-variants-form__body__variant__input__input {
            font-size: 12px;
          }
        }

        & .room-task-variants-form__body__variant__values {
          & .room-task-variants-form__body__variant__values__body {
            & .body-variant-table-input {
              & .body-variant-table-input__body {
                & .body-variant-table-input__body__content {
                  & .body-variant-table-input__body__content__item {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }

        & .room-task-variants-form__body__variant__controls {
          & .room-task-variants-form__body__variant__controls__button {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .room-task-variants-form {
    & .room-task-variants-form__sidebar {
      top: 15%;
      left: 24.82%;
      width: 10%;
      font-size: 14px;
    }

    & .room-task-variants-form__body {
      right: 25%;
      top: 15%;
      width: 40%;
      font-size: 14px;

      & .room-task-variants-form__body__variant {
        font-size: 14px;

        & .room-task-variants-form__body__variant__name {
          font-size: 14px;
        }

        & .room-task-variants-form__body__variant__input {
          & .room-task-variants-form__body__variant__input__input {
            font-size: 14px;
          }
        }

        & .room-task-variants-form__body__variant__values {
          & .room-task-variants-form__body__variant__values__body {
            & .body-variant-table-input {
              & .body-variant-table-input__body {
                & .body-variant-table-input__body__content {
                  & .body-variant-table-input__body__content__item {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }

        & .room-task-variants-form__body__variant__controls {
          & .room-task-variants-form__body__variant__controls__button {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .room-task-variants-form {
    & .room-task-variants-form__sidebar {
      top: 15%;
      left: 24.82%;
      width: 10%;
      font-size: 16px;
    }

    & .room-task-variants-form__body {
      right: 25%;
      top: 15%;
      width: 40%;
      font-size: 16px;

      & .room-task-variants-form__body__variant {
        font-size: 16px;

        & .room-task-variants-form__body__variant__name {
          font-size: 16px;
        }

        & .room-task-variants-form__body__variant__input {
          & .room-task-variants-form__body__variant__input__input {
            font-size: 16px;
          }
        }

        & .room-task-variants-form__body__variant__values {
          & .room-task-variants-form__body__variant__values__body {
            & .body-variant-table-input {
              & .body-variant-table-input__body {
                & .body-variant-table-input__body__content {
                  & .body-variant-table-input__body__content__item {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }

        & .room-task-variants-form__body__variant__controls {
          & .room-task-variants-form__body__variant__controls__button {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .room-task-variants-form {
    & .room-task-variants-form__sidebar {
      top: 15%;
      left: 24.82%;
      width: 10%;
      font-size: 18px;
    }

    & .room-task-variants-form__body {
      right: 25%;
      top: 15%;
      width: 40%;
      font-size: 18px;

      & .room-task-variants-form__body__variant {
        font-size: 18px;

        & .room-task-variants-form__body__variant__name {
          font-size: 18px;
        }

        & .room-task-variants-form__body__variant__input {
          & .room-task-variants-form__body__variant__input__input {
            font-size: 18px;
          }
        }

        & .room-task-variants-form__body__variant__values {
          & .room-task-variants-form__body__variant__values__body {
            & .body-variant-table-input {
              & .body-variant-table-input__body {
                & .body-variant-table-input__body__content {
                  & .body-variant-table-input__body__content__item {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }

        & .room-task-variants-form__body__variant__controls {
          & .room-task-variants-form__body__variant__controls__button {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .room-task-variants-form {
    & .room-task-variants-form__sidebar {
      top: 15%;
      left: 24.82%;
      width: 10%;
      font-size: 20px;
    }

    & .room-task-variants-form__body {
      right: 25%;
      top: 15%;
      width: 40%;
      font-size: 20px;

      & .room-task-variants-form__body__variant {
        font-size: 20px;

        & .room-task-variants-form__body__variant__name {
          font-size: 20px;
        }

        & .room-task-variants-form__body__variant__input {
          & .room-task-variants-form__body__variant__input__input {
            font-size: 20px;
          }
        }

        & .room-task-variants-form__body__variant__values {
          & .room-task-variants-form__body__variant__values__body {
            & .body-variant-table-input {
              & .body-variant-table-input__body {
                & .body-variant-table-input__body__content {
                  & .body-variant-table-input__body__content__item {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }

        & .room-task-variants-form__body__variant__controls {
          & .room-task-variants-form__body__variant__controls__button {
            font-size: 20px;
          }
        }
      }
    }
  }
}