@import "../../public-variables";
@import "../Sidebar/sidebar";
@import "../RoomsList/rooms-list";
@import "../CreateRoomForm/create-room-form";
@import "../Room/room";
@import "../RoomTask/room-task";
@import "../Notifications/notifications";

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  & .main__header {
    width: 100%;
    height: 7.40vh;
  }

  & .main__wrapper {
    position: relative;
    width: 100%;
    height: 92.60vh;
    background-color: $background_color;

    & .main__wrapper__sidebar {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      height: 100%;
      padding: 0 0.78% 0 3.90%;
    }

    & .main__wrapper__content {
      display: flex;
      justify-content: center;
      align-items: start;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      & .main__wrapper__content__rooms-list, .main__wrapper__content__own-rooms-list, .main__wrapper__content__studying-rooms-list {
        width: 100%;
        padding: 1.56% 0;
      }
    }

    & .main__wrapper__content::-webkit-scrollbar {
      width: 0.6vw;
    }

    & .main__wrapper__content::-webkit-scrollbar-track {
      background-color: $third_background_color;
    }

    & .main__wrapper__content::-webkit-scrollbar-thumb {
      background-color: $border_color;
      border-radius: 0.3vw;
    }
  }
}