$background_color: #ecf6ff;
$secondary_background_color: #e6f3ff;
$third_background_color: #eef4f7;
$border_color: #b4bec7;
$inputs_background_color: #eef4f7;
$primary_color: #002544;
$secondary_color: #cc194b;
$links_color: rgba(0, 37, 68, 0.67);
$tint_color: rgba(65, 65, 65, 0.4);
$error_color: #bd0000;
$success_color: #00bd00;