@import "../../../../public-variables";

.room-task-comment {
  display: flex;
  flex-direction: column;
  width: 93%;
  height: auto;
  padding: 0 2.14% 1.7% 2.14%;
  background-color: $third_background_color;
  border: 0.10vw $border_color solid;
  border-radius: 0.52vw;

  & .room-task-comment__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.12vw;

    & .room-task-comment__header__customer-name {
      margin: 0;
      flex-grow: 1;
      font-family: "TTNormsPro SemiBold", "sans-serif";
      font-size: 16px;
    }

    & .room-task-comment__header__posted {
      margin: 0;
      font-family: "TTNormsPro", "sans-serif";
      font-size: 16px;
    }

    & .context-menu-button {
      height: 100%;
      margin-left: 2.14%;

      & > img {
        width: auto;
        height: 65%;
      }
    }
  }

  & .room-task-comment__comment {
    max-width: 100%;
    margin: 0;
    word-break: break-word;
    font-family: "TTNormsPro", "sans-serif";
    font-size: 18px;
  }
}