.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ecf6ff;
}
.login .login__logo {
  width: 10.41%;
  height: auto;
}
.login .login__logo-underline {
  width: 30.04%;
  height: 0.3%;
  content: "";
  background-color: #002544;
}
.login > .login__password-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20.83%;
  height: 3.7%;
  margin-top: 1.38%;
  padding: 0.15% 0.78%;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
}
.login > .login__password-input > .password-input__input {
  width: 100%;
  height: 100%;
  padding: 0.15% 0.78%;
  outline: none;
  border: none;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.login > .login__password-input > .password-input__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: auto;
  height: 70%;
  right: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.login > .login__password-input > .password-input__button > img {
  height: 100%;
  width: auto;
}
.login .login__input {
  width: 20.83%;
  height: 3.7%;
  padding: 0.15% 0.78%;
  margin-top: 1.38%;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.login .login__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.58%;
  height: 4.65%;
  margin-top: 1.38%;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  color: #002544;
  transition: color 200ms ease-out, background-color 200ms ease-out;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.login .login__submit-button:hover {
  background-color: #002544;
  color: #cc194b;
  cursor: pointer;
}
.login .login__link {
  margin-top: 1.38%;
  text-decoration: none;
  color: rgba(0, 37, 68, 0.67);
  transition: color 200ms ease-out;
  font-size: 18px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.login .login__link:hover {
  color: #002544;
}

.login:after {
  height: 3%;
  content: "";
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}
.login-header .login-header__name {
  margin: 0 0.7% 0 0.7%;
  font-size: 36px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.login-header .login-header__name_primary {
  color: #002544;
}
.login-header .login-header__name_secondary {
  color: #cc194b;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ecf6ff;
}
.registration .registration__logo {
  width: 10.41%;
  height: auto;
}
.registration .registration__logo-underline {
  width: 30.04%;
  height: 0.3%;
  content: "";
  background-color: #002544;
}
.registration > .registration__password-input, .registration > .registration__verification-password-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20.83%;
  height: 3.7%;
  margin-top: 1.38%;
  padding: 0.15% 0.78%;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
}
.registration > .registration__password-input > .password-input__input, .registration > .registration__verification-password-input > .password-input__input {
  width: 100%;
  height: 100%;
  padding: 0.15% 0.78%;
  outline: none;
  border: none;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.registration > .registration__password-input > .password-input__button, .registration > .registration__verification-password-input > .password-input__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: auto;
  height: 70%;
  right: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.registration > .registration__password-input > .password-input__button > img, .registration > .registration__verification-password-input > .password-input__button > img {
  height: 100%;
  width: auto;
}
.registration .registration__input {
  width: 20.83%;
  height: 3.7%;
  padding: 0.15% 0.78%;
  margin-top: 1.38%;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.registration .registration__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.34%;
  height: 4.65%;
  margin-top: 1.38%;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  color: #002544;
  transition: color 200ms ease-out, background-color 200ms ease-out;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.registration .registration__submit-button:hover {
  background-color: #002544;
  color: #cc194b;
  cursor: pointer;
}
.registration .registration__link {
  margin-top: 1.38%;
  text-decoration: none;
  color: rgba(0, 37, 68, 0.67);
  transition: color 200ms ease-out;
  font-size: 18px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.registration .registration__link:hover {
  color: #002544;
}

.registration:after {
  height: 5%;
  content: "";
}

.registration-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}
.registration-header .registration-header__name {
  margin: 0 0.7% 0 0.7%;
  font-size: 36px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.registration-header .registration-header__name_primary {
  color: #002544;
}
.registration-header .registration-header__name_secondary {
  color: #cc194b;
}

.sidebar-item {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: #e6f3ff;
  border-right: 0.1vw #b4bec7 solid;
  transition: transform 200ms ease-out;
}
.sidebar .sidebar__delimiter {
  position: absolute;
  width: 100%;
  height: 0.1vw;
  left: 0;
  top: 6.6%;
  background-color: #b4bec7;
}
.sidebar .sidebar__item {
  width: auto;
  height: 4%;
  margin-top: 8%;
  cursor: pointer;
}
.sidebar .sidebar__item img {
  position: absolute;
  width: auto;
  height: 4.5%;
  left: 6%;
}
.sidebar .sidebar__item .sidebar-item__text {
  color: #002544;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 20px;
  white-space: nowrap;
  transition: color 200ms ease-out;
}
.sidebar .sidebar__item:first-child {
  margin: 7% 0;
}
.sidebar .sidebar__item:hover .sidebar-item__text {
  color: #cc194b;
}

.sidebar_hidden {
  transform: translateX(-100%);
}

.sidebar_opened {
  transform: translateX(0);
}

.near-task {
  display: flex;
  flex-direction: column;
}
.near-task .near-task__deadline, .near-task .near-task__name {
  margin: 0;
}
.near-task .near-task__deadline {
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 14px;
}
.near-task .near-task__name {
  font-family: "TTNormsPro", "sans-serif";
  font-size: 14px;
}

.room-label {
  display: flex;
  flex-direction: column;
  border: #b4bec7 0.2vw solid;
}
.room-label .room-label__header {
  display: flex;
  align-items: center;
  height: 19.79%;
  padding: 0 8.62%;
  background-color: #5185C5;
}
.room-label .room-label__header .room-label__header__name {
  margin: 0;
  color: #ecf6ff;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 28px;
}
.room-label .room-label__meta {
  display: flex;
  align-items: center;
  height: 13.99%;
  padding: 0 8.62%;
  background-color: #5185C5;
}
.room-label .room-label__meta .room-label__meta__audience {
  margin: 0;
  color: #ecf6ff;
  font-family: "TTNormsPro", "sans-serif";
  font-size: 18px;
}
.room-label .room-label__nearest-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8.62%;
  flex-shrink: 1;
  background-color: #eef4f7;
}
.room-label .room-label__nearest-tasks .room-label__nearest-tasks__near-task {
  padding: 4.31% 0;
}

.rooms-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.rooms-list .rooms-list__room-label {
  width: 18.12%;
  height: 29.3%;
  border-radius: 0.7vw;
  overflow: hidden;
  margin: 0 0 1.56% 1.36%;
}

.add-room-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 92.6vh;
  background-color: rgba(65, 65, 65, 0.4);
  animation: smooth-show 200ms ease-out;
}
.add-room-form .add-room-form__form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 22.39%;
  padding: 0 0.78%;
  margin-bottom: 4.16%;
  background-color: #ecf6ff;
  border: #b4bec7 0.2vw solid;
  border-radius: 0.78vw;
  overflow: hidden;
}
.add-room-form .add-room-form__form .add-room-form__form__header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 3.75%;
  background-color: #002544;
}
.add-room-form .add-room-form__form .add-room-form__form__header .add-room-form-header__name {
  margin: 1.38vh 0;
  font-size: 20px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  white-space: nowrap;
  color: #ecf6ff;
}
.add-room-form .add-room-form__form .add-room-form__form__input {
  width: 92.5%;
  height: 3.7vh;
  padding: 0 3.4%;
  margin-top: 1.38vh;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  font-size: 20px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.add-room-form .add-room-form__form .add-room-form__form__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 3.7vh;
  margin: 1.38vh 0;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  color: #002544;
  transition: color 200ms ease-out, background-color 200ms ease-out;
  font-size: 20px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.add-room-form .add-room-form__form .add-room-form__form__submit-button:hover {
  background-color: #002544;
  color: #cc194b;
  cursor: pointer;
}

.room-post {
  padding: 0 1.33%;
}
.room-post .room-post__header {
  display: flex;
  align-items: center;
  position: relative;
}
.room-post .room-post__header > * {
  margin: 0;
}
.room-post .room-post__header .room-post__header__name {
  color: #002544;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 18px;
}
.room-post .room-post__header .room-post__header__time {
  padding-left: 1.33%;
  color: #002544;
  font-family: "TTNormsPro Light", "sans-serif";
  font-size: 18px;
}
.room-post .room-post__header:after {
  content: "";
  position: absolute;
  left: -1.35%;
  bottom: 0;
  width: 102.68%;
  height: 0.07vw;
  background-color: #b4bec7;
}
.room-post .room-post__text {
  max-width: 100%;
  margin: 1% 0;
  color: #002544;
  font-family: "TTNormsPro", "sans-serif";
  font-size: 18px;
}

.room-last-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 4.28%;
}
.room-last-task .room-last-task__name {
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 16px;
}
.room-last-task .room-last-task__description {
  font-family: "TTNormsPro", "sans-serif";
  font-size: 18px;
}
.room-last-task .room-last-task__name, .room-last-task .room-last-task__description {
  margin: 0;
}

.room-main {
  display: flex;
  justify-items: center;
  align-items: start;
}
.room-main .room-main__last-updates {
  display: flex;
  flex-direction: column;
  width: 23.33%;
  height: 55%;
  padding: 0.7% 0;
  background-color: #eef4f7;
  border: 0.1vw #b4bec7 solid;
  border-radius: 0.52vw;
}
.room-main .room-main__last-updates .room-main__last-updates__task {
  flex-grow: 1;
  padding: 0 4.28%;
}
.room-main .room-main__posts {
  display: flex;
  flex-grow: 1;
  width: 76.77%;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
.room-main .room-main__posts .create-comment-form {
  display: flex;
  align-items: center;
  width: 97%;
  height: 10.43%;
  background-color: #eef4f7;
  border: 0.1vw #b4bec7 solid;
  border-radius: 0.52vw;
}
.room-main .room-main__posts .create-comment-form .create-comment-form__input {
  height: 57.14%;
  flex-grow: 1;
  outline: none;
  border: none;
  background-color: inherit;
  font-size: 24px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.room-main .room-main__posts .create-comment-form .create-comment-form__button {
  height: 57.14%;
  cursor: pointer;
}
.room-main .room-main__posts .create-comment-form .create-comment-form__button img {
  width: auto;
  height: 100%;
}
.room-main .room-main__posts .create-comment-form > * {
  margin-left: 1.33%;
}
.room-main .room-main__posts .create-comment-form > *:last-child {
  margin: 0 1.33% 0 1.33%;
}
.room-main .room-main__posts .infinite-scroll {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  margin-top: 3vh;
  overflow: auto;
}
.room-main .room-main__posts .infinite-scroll > * {
  margin-top: 3vh;
}
.room-main .room-main__posts .infinite-scroll > *:first-child {
  margin-top: 0;
}
.room-main .room-main__posts .room-main__posts__room-post {
  width: 91.5%;
  background-color: #eef4f7;
  border: 0.1vw #b4bec7 solid;
  border-radius: 0.52vw;
}
.room-main .room-main__posts .infinite-scroll::-webkit-scrollbar {
  width: 0.6vw;
}
.room-main .room-main__posts .infinite-scroll::-webkit-scrollbar-track {
  background-color: #eef4f7;
}
.room-main .room-main__posts .infinite-scroll::-webkit-scrollbar-thumb {
  background-color: #b4bec7;
  border-radius: 0.3vw;
}

.room-last-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 4.28%;
}
.room-last-task .room-last-task__name {
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 16px;
}
.room-last-task .room-last-task__description {
  font-family: "TTNormsPro", "sans-serif";
  font-size: 18px;
}
.room-last-task .room-last-task__name, .room-last-task .room-last-task__description {
  margin: 0;
}

.context-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.context-menu-button > img {
  width: 100%;
  height: auto;
}

.room-task-label {
  display: flex;
  align-items: center;
  padding: 0.4% 1.2%;
}
.room-task-label .room-task-label__icon {
  width: auto;
  height: 66.6%;
}
.room-task-label .room-task-label__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1.25%;
}
.room-task-label .room-task-label__body > * {
  margin: 0;
}
.room-task-label .room-task-label__body .room-task-label__body__header {
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 16px;
}
.room-task-label .room-task-label__body .room-task-label__body__date {
  font-family: "TTNormsPro", "sans-serif";
  font-size: 16px;
}
.room-task-label .context-menu-button {
  width: 1.3%;
}

.pop-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 92.6vh;
  background-color: rgba(65, 65, 65, 0.4);
  animation: smooth-show 200ms ease-out;
}
.pop-up-form .pop-up-form__form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 22.39%;
  padding: 0 0.78%;
  margin-bottom: 4.16%;
  background-color: #ecf6ff;
  border: #b4bec7 0.2vw solid;
  border-radius: 0.78vw;
  overflow: hidden;
}
.pop-up-form .pop-up-form__form .pop-up-form__form__header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 3.75%;
  background-color: #002544;
}
.pop-up-form .pop-up-form__form .pop-up-form__form__header .pop-up-form__form__header__name {
  margin: 1.38vh 0;
  font-size: 20px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  white-space: nowrap;
  color: #ecf6ff;
}
.pop-up-form .pop-up-form__form > input {
  width: 92.5%;
  height: 3.7vh;
  padding: 0 3.4%;
  margin-top: 1.38vh;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  font-size: 20px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.pop-up-form .pop-up-form__form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 3.7vh;
  margin: 1.38vh 0;
  outline: none;
  border: #002544 0.2vw solid;
  border-radius: 0.5vw;
  background-color: #eef4f7;
  color: #002544;
  transition: color 200ms ease-out, background-color 200ms ease-out;
  font-size: 20px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
}
.pop-up-form .pop-up-form__form > button:hover {
  background-color: #002544;
  color: #cc194b;
  cursor: pointer;
}

.room-tasks {
  display: flex;
  justify-items: center;
  align-items: start;
}
.room-tasks .room-tasks__last-updates {
  display: flex;
  flex-direction: column;
  width: 23.33%;
  height: 55%;
  padding: 0.7% 0;
  background-color: #eef4f7;
  border: 0.1vw #b4bec7 solid;
  border-radius: 0.52vw;
}
.room-tasks .room-tasks__tasks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  flex-grow: 1;
  width: 76.77%;
  height: 100%;
}
.room-tasks .room-tasks__tasks .room-tasks__tasks__task {
  width: 91.5%;
  min-height: 6vh;
  background-color: #eef4f7;
  border: 0.1vw #b4bec7 solid;
  border-radius: 0.52vw;
  cursor: pointer;
}
.room-tasks .room-tasks__tasks .room-tasks__tasks__add-button {
  height: 7.5%;
  cursor: pointer;
  margin-top: 0;
}
.room-tasks .room-tasks__tasks .room-tasks__tasks__add-button > img {
  width: auto;
  height: 100%;
}
.room-tasks .infinite-scroll {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}
.room-tasks .infinite-scroll > * {
  margin-top: 3vh;
}
.room-tasks .infinite-scroll > *:first-child + * {
  margin-top: 1.5vh;
}
.room-tasks .infinite-scroll::-webkit-scrollbar {
  width: 0.6vw;
}
.room-tasks .infinite-scroll::-webkit-scrollbar-track {
  background-color: #eef4f7;
}
.room-tasks .infinite-scroll::-webkit-scrollbar-thumb {
  background-color: #b4bec7;
  border-radius: 0.3vw;
}

.room-members {
  display: flex;
  flex-direction: column;
}
.room-members .room-members__teachers {
  display: flex;
  flex-direction: column;
}
.room-members .room-members__teachers .room-members__teachers__header {
  position: relative;
  margin: 0;
  padding-left: 3%;
  color: #5185C5;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 40px;
}
.room-members .room-members__teachers .room-members__teachers__header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4vh;
  left: 0;
  bottom: 0;
  background-color: #5185C5;
}
.room-members .room-members__members {
  display: flex;
  flex-direction: column;
  max-height: 45%;
}
.room-members .room-members__members .room-members__members__header {
  position: relative;
  margin: 0;
  padding-left: 3%;
  color: #5185C5;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 40px;
}
.room-members .room-members__members .room-members__members__header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4vh;
  left: 0;
  bottom: 0;
  background-color: #5185C5;
}
.room-members .room-members__members .room-members__members__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.room-members .room-members__members .room-members__members__list .room-members__members__list__member {
  display: flex;
  align-items: center;
  width: 97%;
  height: 5vh;
  padding-left: 3%;
  margin-bottom: 1vh;
}
.room-members .room-members__members .room-members__members__list .room-members__members__list__member .room-members__members__member__name {
  margin: 0;
  color: #002544;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 20px;
}
.room-members .room-members__members .room-members__members__list::-webkit-scrollbar {
  width: 0.6vw;
}
.room-members .room-members__members .room-members__members__list::-webkit-scrollbar-track {
  background-color: #eef4f7;
}
.room-members .room-members__members .room-members__members__list::-webkit-scrollbar-thumb {
  background-color: #b4bec7;
  border-radius: 0.3vw;
}

.room-description {
  padding: 1.14%;
  background-color: #eef4f7;
  border: 0.1vw #b4bec7 solid;
  border-radius: 0.52vw;
}
.room-description .room-description__description {
  margin: 0;
  font-family: "TTNormsPro", "sans-serif";
  font-size: 18px;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.room .room__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 78.12%;
  height: 16.5%;
  background-color: #5185C5;
}
.room .room__header .room__header__name {
  margin: 0;
  color: #ecf6ff;
  font-family: "TTNormsPro", sans-serif;
  font-weight: bold;
  font-size: 38px;
}
.room .room__header .room__header__owner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.room .room__header .room__header__owner .room__header__owner__article {
  margin: 0;
  color: #ecf6ff;
  font-family: "TTNormsPro", sans-serif;
  font-weight: bold;
  font-size: 22px;
}
.room .room__header .room__header__owner .room__header__owner__name {
  margin: 0 0 0 0.5em;
  color: #ecf6ff;
  font-family: "TTNormsPro SemiBold", sans-serif;
  font-size: 22px;
}
.room .room__content {
  width: 65%;
  height: 77.5%;
}
.room .room__content .room__content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.54%;
}
.room .room__content .room__content__body {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 90.46%;
}
.room .room__content .room__content__body > div {
  width: 100%;
  height: 100%;
}
.room .room__content .room__content__body .room__content__body__description {
  width: 70%;
  height: auto;
  overflow-y: auto;
}

.content-header .content-header__link {
  position: relative;
  margin: 0 0 0 1.56%;
  color: #5185C5;
  text-decoration: none;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 26px;
}
.content-header .content-header__link.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.4vh;
  left: 0;
  bottom: 0;
  background-color: #5185C5;
}

.room-task-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.room-task-comment .room-task-comment__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.12vw;
}
.room-task-comment .room-task-comment__header .context-menu-button > img {
  width: auto;
  height: 100%;
}

.room-task-comments {
  display: flex;
  flex-direction: column;
}
.room-task-comments .room-task-comments__header {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 10%;
}
.room-task-comments .room-task-comments__header .room-task-comments__header__add-comment-button {
  display: flex;
  align-items: center;
  width: auto;
  height: 60%;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.room-task-comments .room-task-comments__header .room-task-comments__header__add-comment-button > img {
  width: auto;
  height: 100%;
}
.room-task-comments .room-task-comments__header .room-task-comments__header__add-comment-button > p {
  margin: 0;
  padding-left: 4.4%;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  font-size: 16px;
  white-space: nowrap;
}
.room-task-comments .room-task-comments__header .room-task-comments__header__comments {
  height: 40%;
  margin: 0;
  padding-left: 1%;
  font-family: "TTNormsPro", "sans-serif";
  font-weight: bold;
  font-size: 18px;
}
.room-task-comments .room-task-comments__comments {
  height: 90%;
}
.room-task-comments .room-task-comments__comments .infinite-scroll {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.room-task-comments .room-task-comments__comments .infinite-scroll > * {
  margin-top: 3vh;
}
.room-task-comments .room-task-comments__comments .infinite-scroll > *:first-child + * {
  margin-top: 1.5vh;
}
.room-task-comments .room-task-comments__comments .infinite-scroll::-webkit-scrollbar {
  width: 0.6vw;
}
.room-task-comments .room-task-comments__comments .infinite-scroll::-webkit-scrollbar-track {
  background-color: #eef4f7;
}
.room-task-comments .room-task-comments__comments .infinite-scroll::-webkit-scrollbar-thumb {
  background-color: #b4bec7;
  border-radius: 0.3vw;
}

.room-task {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 94.6%;
  margin-top: 1.56%;
}
.room-task .room-task__content {
  width: 48.95%;
  margin-right: 1.56%;
}
.room-task .room-task__content .room-task__content__header {
  display: flex;
  align-items: center;
  position: relative;
  height: 12.76%;
}
.room-task .room-task__content .room-task__content__header .room-task__content__header__logo {
  width: auto;
  height: 60%;
}
.room-task .room-task__content .room-task__content__header .room-task__content__header__name {
  flex-grow: 1;
  margin: 0 0 0 3.18%;
  font-size: 36px;
  font-family: "TTNormsPro SemiBold", "sans-serif";
  color: #002544;
}
.room-task .room-task__content .room-task__content__header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5vh;
  left: 0;
  bottom: 0;
  background-color: #5185C5;
}
.room-task .room-task__content .room-task__content__comments {
  height: 84.04%;
  margin-top: 3.24%;
}
.room-task .room-task__controls {
  width: 18.07%;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main .main__header {
  width: 100%;
  height: 7.4vh;
}
.main .main__wrapper {
  position: relative;
  width: 100%;
  height: 92.6vh;
  background-color: #ecf6ff;
}
.main .main__wrapper .main__wrapper__sidebar {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 0.78% 0 3.9%;
}
.main .main__wrapper .main__wrapper__content {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.main .main__wrapper .main__wrapper__content .main__wrapper__content__rooms-list {
  width: 100%;
  padding: 1.56% 0;
}
.main .main__wrapper .main__wrapper__content::-webkit-scrollbar {
  width: 0.6vw;
}
.main .main__wrapper .main__wrapper__content::-webkit-scrollbar-track {
  background-color: #eef4f7;
}
.main .main__wrapper .main__wrapper__content::-webkit-scrollbar-thumb {
  background-color: #b4bec7;
  border-radius: 0.3vw;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  background-color: #002544;
}
.header .header__sidebar-button, .header .header__navigation__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.73%;
  margin: 0 1.82%;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.header .header__sidebar-button > img, .header .header__navigation__button > img {
  width: 100%;
  height: auto;
}
.header .header__navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.header .header__navigation .navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 52.08%;
  margin: 0 2.76% 0 0;
}
.header .header__navigation .navigation__button > img {
  width: auto;
  height: 100%;
}
.header .header__logo {
  width: auto;
  height: 68.75%;
}

@font-face {
  font-family: "TTNormsPro";
  font-style: normal;
  font-weight: normal;
  src: local("TTNormsPro"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.eot") format("eot");
}
@font-face {
  font-family: "TTNormsPro SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TTNormsPro SemiBold"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.eot") format("eot");
}
@font-face {
  font-family: "TTNormsPro Light";
  font-style: normal;
  font-weight: normal;
  src: local("TTNormsPro Light"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.eot") format("eot");
}
@font-face {
  font-family: "TTNormsPro";
  font-style: normal;
  font-weight: bold;
  src: local("TTNormsPro"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.eot") format("eot");
}
body {
  margin: 0;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.smooth-show-component {
  transition: color 200ms ease-out;
}

@keyframes smooth-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
