@import "../src/components/Login/login";
@import "../src/components/Registration/registration";
@import "../src/components/CustomerVerification/customer-verification";
@import "../src/components/RegistrationVerification/registration-verification";
@import "../src/components/ContentRoutes/content-routes";
@import "../src/components/Header/header";
@import "../src/components/OwnRoomsList/own-rooms-list";
@import "../src/components/StudyingRoomsList/studying-rooms-list";
@import "fonts";

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.smooth-show-component {
  transition: color 200ms ease-out;
}

@keyframes smooth-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}