.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ecf6ff;
}
.login .login__logo {
  width: 10.41%;
  height: auto;
}
.login .login__logo-underline {
  content: "";
  width: 30.04%;
  height: 0.3%;
  background-color: #002544;
}
.login .login__input {
  margin-top: 1.38%;
  outline: none;
  width: 20.83%;
  height: 3.7%;
  padding: 0.15% 0.78%;
  background-color: #eef4f7;
  border: #002544 2px solid;
  border-radius: 0.5vw;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold";
}
.login .login__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.38%;
  outline: none;
  width: 14.58%;
  height: 4.65%;
  background-color: #eef4f7;
  border: #002544 2px solid;
  color: #002544;
  border-radius: 0.5vw;
  font-size: 22px;
  font-family: "TTNormsPro SemiBold";
}
.login .login__link {
  margin-top: 1.38%;
  text-decoration: none;
  font-size: 18px;
  font-family: "TTNormsPro SemiBold";
  color: rgba(0, 37, 68, 0.67);
}

.login:after {
  content: "";
  height: 3%;
}

.header {
  display: flex;
  padding-top: 1%;
  justify-content: center;
  align-items: center;
}
.header .header__name {
  margin: 0 0.7% 0 0.7%;
  font-size: 36px;
  font-family: "TTNormsPro SemiBold";
}
.header .header__name_primary {
  color: #002544;
}
.header .header__name_secondary {
  color: #cc194b;
}

@font-face {
  font-family: "TTNormsPro";
  font-style: normal;
  font-weight: normal;
  src: local("TTNormsPro"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Regular.eot") format("eot");
}
@font-face {
  font-family: "TTNormsPro SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TTNormsPro SemiBold"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Medium.eot") format("eot");
}
@font-face {
  font-family: "TTNormsPro Light";
  font-style: normal;
  font-weight: normal;
  src: local("TTNormsPro Light"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Light.eot") format("eot");
}
@font-face {
  font-family: "TTNormsPro";
  font-style: normal;
  font-weight: bold;
  src: local("TTNormsPro"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.woff2") format("woff2"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.woff") format("woff"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.ttf") format("ttf"), url("/assets/fonts/TTNormsPro/TTNormsPro-Bold.eot") format("eot");
}
body {
  margin: 0;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
