@import "../src/components/Login/login";
@import "../src/components/Registration/registration";
@import "fonts";

body {
  margin: 0;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.smooth-show-component {
  transition: color 200ms ease-out;
}