.near-task {
  display: flex;
  flex-direction: column;

  & .near-task__deadline, & .near-task__name {
    margin: 0;
  }

  & .near-task__deadline {
    font-family: "TTNormsPro SemiBold", "sans-serif";
  }

  & .near-task__name {
    font-family: "TTNormsPro", "sans-serif";
  }
}