@import "../../../public-variables";

.context-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & > img {
    width: 100%;
    height: auto;
  }
}